# Windows 依赖配置 - 支持 Python 3.8.10
colorama==0.4.6
darkdetect==0.8.0
asyncio~=3.4.3
loguru==0.7.3
pyttsx3==2.98
PyQt-Fluent-Widgets~=1.7.7
PyQt5-Frameless-Window==0.6.0
pyotp==2.9.0
sip~=6.8.6
pyqrcode~=1.2.1
pypng~=0.20220715.0
pillow~=10.4.0
psutil~=7.0.0
numpy~=1.24.4
pandas~=2.0.3
edge-tts==7.0.2
sounddevice==0.5.2
soundfile==0.13.1
openpyxl==3.1.5
requests==2.32.4
packaging==25.0
jinja2~=3.1.6
PyQt5~=5.15.9
PyQt5-Qt5~=5.15.2
PyQt5_sip==12.15.0
comtypes==1.4.10
pywin32==310; platform_system == "Windows"
win32_setctime==1.2.0; platform_system == "Windows"
winshell==0.6; platform_system == "Windows"
pycaw==20240210; platform_system == "Windows"

# 人脸识别引擎
opencv-python==4.12.0.88
modelscope==1.29.1
torch==2.4.1
NumPy==1.24.4
addict==2.4.0
datasets==3.1.0
simplejson==3.19.2
sortedcontainers==2.4.0
scikit-image==0.21.0
torchvision==0.19.1
tensorboard==2.14.0