name: Pre-commit

on:
    push:
        branches: [main, master]
    pull_request:

jobs:
    pre-commit:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v4
              with:
                  python-version: "3.11"
            - name: Install pre-commit
              run: pip install pre-commit
            - name: Run pre-commit on all files
              run: pre-commit run --all-files
