name: Ruff

on:
    push:
        branches: [master]
    pull_request:

jobs:
    ruff:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Setup uv
              uses: astral-sh/setup-uv@v3
              with:
                  enable-cache: true

            - name: Setup Python
              run: uv python install 3.8.10
            - name: Install Ruff via uv
              run: uv pip install ruff

            - name: Run Ruff
              run: ruff check --output-format=github .
